In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
# Make dataframes for each metro's CSV file
ATL = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_ATL.csv")
AUS = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_AUS.csv")
BOS = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_BOS.csv")
CHI = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_CHI.csv")
DAL = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_DAL.csv")
DEN = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_DEN.csv")
HOU = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_HOU.csv")
LAX = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_LAX.csv")
MIA = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_MIA.csv")
NAS = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_NAS.csv")
NYC = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_NYC.csv")
OAK = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_OAK.csv")
PHI = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_PHI.csv")
POR = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_POR.csv")
SEA = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_SEA.csv")
SFO = pd.read_csv(filepath_or_buffer="Data/Metro_area_data/TicketData_SFO.csv")

In [3]:
# Concatenate all dataframes together
frames = [ATL, AUS, BOS, CHI, DAL, DEN, HOU, LAX, MIA, NAS, NYC, OAK, PHI, POR, SEA, SFO]
TicketData = pd.concat(frames)
TicketData.head()

,event_id,date,artist,venue,min_price,max_price,total_postings,total_tickets,city,state,...,sold_out,sk_artist_id,days_to_show,num_blogs,num_news,num_reviews,discovery,familiarity,hotttnesss,num_years_active
0,9352333,2016-08-07T20:00:00-0400,Janet Jackson,Philips Arena,49.70,2222.22,295,999,Atlanta,GA,...,0,410449,147,6824,4132,59,0.3601373449252699,0.795111,0.752127,43
1,9381625,2016-04-23T19:30:00-0400,Underoath,The Tabernacle Atlanta,72.20,1111.00,22,108,Atlanta,GA,...,0,2357960,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9392053,2016-03-19T20:00:00-0400,Vance Joy,The Tabernacle Atlanta,92.18,325.00,21,77,Atlanta,GA,...,0,6148694,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9408915,2016-06-09T19:30:00-0400,Selena Gomez,Philips Arena,85.04,1500.00,106,359,Atlanta,GA,...,0,1059348,88,9475,2202,7,0.4399476127099588,0.770825,0.862321,8
4,9411812,2016-04-23T20:00:00-0400,Ciara,Center Stage Theatre,55.99,119.00,14,89,Atlanta,GA,...,0,106251,41,8129,962,52,0.39156665147655895,0.749624,0.729409,14

In [7]:
TicketData[TicketData['ticket_vendor'] == 'Live Nation'].head(50)

,event_id,date,artist,venue,min_price,max_price,total_postings,total_tickets,city,state,...,sold_out,sk_artist_id,days_to_show,num_blogs,num_news,num_reviews,discovery,familiarity,hotttnesss,num_years_active
1,9381625,2016-04-23T19:30:00-0400,Underoath,The Tabernacle Atlanta,72.20,1111.00,22,108,Atlanta,GA,...,0,2357960,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9392053,2016-03-19T20:00:00-0400,Vance Joy,The Tabernacle Atlanta,92.18,325.00,21,77,Atlanta,GA,...,0,6148694,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9420620,2016-07-24T19:30:00-0400,5 Seconds of Summer,Lakewood Amphitheatre,34.36,850.00,188,914,Atlanta,GA,...,0,5642214,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9426889,2016-03-14T19:00:00-0400,Coheed and Cambria,The Tabernacle Atlanta,70.82,99.00,8,39,Atlanta,GA,...,0,200900,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9443710,2016-06-24T19:00:00-0400,The Cure,Lakewood Amphitheatre,37.88,1899.00,242,1421,Atlanta,GA,...,0,474439,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9462617,2016-07-17T19:00:00-0400,Josh Groban,Chastain Park Amphitheatre,80.20,648.00,88,500,Atlanta,GA,...,0,474091,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,9462786,2016-06-08T19:00:00-0400,Journey and The Doobie Brothers,Lakewood Amphitheatre,37.89,710.50,158,819,Atlanta,GA,...,0,94887,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,9465188,2016-04-02T20:00:00-0400,Andrew Bird,The Tabernacle Atlanta,66.22,229.00,20,85,Atlanta,GA,...,0,395944,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,9468614,2016-03-18T20:00:00-0400,Logic,The Tabernacle Atlanta,43.46,1111.00,61,216,Atlanta,GA,...,0,614453,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,9482669,2016-03-15T20:00:00-0400,Fetty Wap,The Tabernacle Atlanta,66.72,217.68,34,142,Atlanta,GA,...,0,8472253,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,9482719,2016-03-17T19:30:00-0400,Kirk Franklin,The Tabernacle Atlanta,50.87,251.00,16,60,Atlanta,GA,...,0,115247,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,9492144,2016-04-22T19:30:00-0400,Rend Collective,The Tabernacle Atlanta,44.86,150.00,11,53,Atlanta,GA,...,0,3850246,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,9493404,2016-04-29T20:00:00-0400,Father John Misty,The Tabernacle Atlanta,51.30,1111.00,53,297,Atlanta,GA,...,0,5113323,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,9500874,2016-04-15T20:00:00-0400,Tori Kelly,The Tabernacle Atlanta,81.56,1111.00,50,184,Atlanta,GA,...,0,1054791,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,9503268,2016-06-16T19:00:00-0400,Weezer,Lakewood Amphitheatre,44.65,599.00,227,1209,Atlanta,GA,...,0,544909,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,9506373,2016-05-06T19:30:00-0400,Disturbed with Rob Zombie,Lakewood Amphitheatre,49.11,415.00,149,734,Atlanta,GA,...,0,455175,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,9508113,2016-06-10T20:00:00-0400,Thrice,The Tabernacle Atlanta,46.55,199.00,22,102,Atlanta,GA,...,0,498261,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,9510439,2016-05-28T19:00:00-0400,Dave Matthews Band,Lakewood Amphitheatre,83.12,9888.80,236,856,Atlanta,GA,...,0,334506,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,9510993,2016-07-10T19:00:00-0400,Brand New and Modest Mouse,Chastain Park Amphitheatre,81.56,9999.00,195,664,Atlanta,GA,...,0,352662,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,9511148,2016-04-17T19:30:00-0400,Amon Amarth with Entombed and Exmortus,The Tabernacle Atlanta,54.42,229.00,16,96,Atlanta,GA,...,0,216859,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,9514255,2016-04-28T20:00:00-0400,Santigold,The Tabernacle Atlanta,54.29,202.00,23,97,Atlanta,GA,...,0,2385431,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,9514469,2016-04-24T20:00:00-0400,Bush,The Tabernacle Atlanta,67.40,250.00,35,145,Atlanta,GA,...,0,478333,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,9516459,2016-04-25T19:00:00-0400,NOFX,The Tabernacle Atlanta,50.76,200.00,15,80,Atlanta,GA,...,0,214756,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,9527218,2016-06-03T19:00:00-0400,Maze featuring Frankie Beverly and Gladys Knight,Chastain Park Amphitheatre,154.72,275.00,17,94,Atlanta,GA,...,0,415088,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,9531910,2016-05-06T19:00:00-0400,Bring Me The Horizon,The Tabernacle Atlanta,59.14,456.99,46,249,Atlanta,GA,...,0,347077,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,9533014,2016-04-27T20:00:00-0400,Steel Panther,The Tabernacle Atlanta,70.82,176.00,10,48,Atlanta,GA,...,0,2330488,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,9534470,2016-06-29T18:30:00-0400,Slipknot and Marilyn Manson,Lakewood Amphitheatre,32.81,525.00,125,777,Atlanta,GA,...,0,1012485,108,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,9534539,2016-05-06T19:00:00-0400,Lauryn Hill,Chastain Park Amphitheatre,93.75,325.00,33,146,Atlanta,GA,...,0,6061929,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,9534540,2016-05-07T19:00:00-0400,Scorpions,Chastain Park Amphitheatre,93.75,368.42,28,126,Atlanta,GA,...,0,201063,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,9534541,2016-05-20T19:00:00-0400,Willie Nelson and Merle Haggard,Chastain Park Amphitheatre,93.75,399.00,21,86,Atlanta,GA,...,0,143930,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,9534542,2016-06-11T19:00:00-0400,Harry Connick Jr.,Chastain Park Amphitheatre,122.07,459.00,18,86,Atlanta,GA,...,0,186299,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,9534543,2016-06-19T19:00:00-0400,Kenny Rogers,Chastain Park Amphitheatre,93.75,399.00,33,161,Atlanta,GA,...,0,353317,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,9534544,2016-06-26T19:00:00-0400,Steely Dan,Chastain Park Amphitheatre,84.86,421.05,34,151,Atlanta,GA,...,0,87233,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,9534545,2016-07-01T19:00:00-0400,Bad Company and Joe Walsh,Chastain Park Amphitheatre,54.42,473.68,30,178,Atlanta,GA,...,0,364801,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,9534548,2016-07-16T19:00:00-0400,Pat Benatar with Neil Giraldo and Melissa Ethe...,Chastain Park Amphitheatre,93.73,421.05,33,161,Atlanta,GA,...,0,576999,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,9534549,2016-09-04T19:00:00-0400,Goo Goo Dolls,Chastain Park Amphitheatre,73.30,315.79,30,168,Atlanta,GA,...,0,8572449,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,9536731,2016-04-30T20:30:00-0400,Snarky Puppy,The Tabernacle Atlanta,118.02,179.00,11,48,Atlanta,GA,...,0,29793,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9536732,2016-05-03T19:30:00-0400,Bullet for my Valentine with Asking Alexandria,The Tabernacle Atlanta,63.86,229.00,19,98,Atlanta,GA,...,0,137158,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,9537514,2016-07-29T20:00:00-0400,311,The Tabernacle Atlanta,111.05,249.00,15,68,Atlanta,GA,...,0,486064,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,9537515,2016-07-30T20:00:00-0400,311,The Tabernacle Atlanta,96.89,299.00,26,109,Atlanta,GA,...,0,486064,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,9539685,2016-07-03T19:00:00-0400,The String Cheese Incident,Chastain Park Amphitheatre,85.10,999.00,34,138,Atlanta,GA,...,0,182943,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,9539686,2016-07-04T19:00:00-0400,The String Cheese Incident,Chastain Park Amphitheatre,99.65,999.00,29,125,Atlanta,GA,...,0,182943,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9380629,2016-04-17T18:30:00-0400,Underoath,House of Blues Boston,44.98,1111.00,53,236,Boston,MA,...,0,2357960,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9392065,2016-04-01T19:00:00-0400,Vance Joy,House of Blues Boston,145.30,695.00,66,154,Boston,MA,...,0,6148694,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9407959,2016-03-25T19:00:00-0400,Galactic,House of Blues Boston,49.69,211.00,18,88,Boston,MA,...,0,164225,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9414624,2016-04-11T20:00:00-0400,Charles Kelley,House of Blues Boston,32.51,210.00,40,171,Boston,MA,...,0,1171291,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,9453411,2016-03-23T19:00:00-0400,Lake Street Dive,House of Blues Boston,78.02,250.00,43,140,Boston,MA,...,0,1077331,10,397,175,11,0.5094867319244379,0.50701,0.618196,12
27,9454878,2016-04-09T17:00:00-0400,Ben Harper and The Innocent Criminals,House of Blues Boston,105.54,264.00,30,109,Boston,MA,...,0,76901,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,9456555,2016-05-06T19:00:00-0400,The Used,House of Blues Boston,60.32,157.00,30,139,Boston,MA,...,0,162392,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,9456556,2016-05-07T18:00:00-0400,The Used,House of Blues Boston,79.20,157.00,33,149,Boston,MA,...,0,162392,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Check how many event rows we have and how many of them have actual face values
num_rows = TicketData['face_value'].count()
num_rows_with_face_values = TicketData[TicketData['face_value'].str.contains("\$")]['face_value'].count()
num_rows_with_sold_out_values = TicketData[(TicketData['sold_out'] == '1') | 
                                           (TicketData['sold_out'] == '0')]['sold_out'].count()
num_sold_out_events = TicketData[TicketData['sold_out'] == '1']['sold_out'].count()

print("Total # of events: %s" % num_rows)
print("Total # of events with valid ticket face values: %s" % num_rows_with_face_values)
print("Total # of events with valid sold out values: %s" % num_rows_with_sold_out_values)
print("Total # of events that are sold out: %s" % num_sold_out_events)

Total # of events: 3126
Total # of events with valid ticket face values: 1436
Total # of events with valid sold out values: 1912
Total # of events that are sold out: 85

In [75]:
# Save concatenated dataframe as CSV
TicketData.to_csv(path_or_buf="Data/MasterTicketData.csv", index=False)